{% extends "base.html" %}
{% load i18n %}
{% load cms_tags %}

{#{% block nav_registration_page %}selected{% endblock nav_registration_page %}#}

{% block set_lang_current_page %}
{% url "registration-page" %}
{% endblock set_lang_current_page %}

{% block content %}
  <a href="#registration-form"  class="register-button">{% trans "Registration" %}</a>
  {% static_placeholder 'registration_img' %}
  <div class="reg-wrapper" id="registration-form">
    <div class="left-side">
      {% static_placeholder 'registration_content' %}
    </div>
    <div class="right-side">
      <form  class="registration-form" action="{% url "registration-page" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans "Send" %}" />
      </form>
    </div>
  </div>
  

  <script>
    $(document).ready(function() {
      {% if form.errors %}
        window.location.hash = '#registration-form';
      {% endif %}
    })
  </script>
{% endblock content %}