{% load cms_tags menu_tags sekizai_tags %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Opusplace{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static "main.css" %}">
        {% render_block "css" %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body class="lang-{{ LANGUAGE_CODE }}">
        {% if messages %}
        <div class="message-holder">
            <div class="popup-holder">
                <div class="messages">
                    <span class="close">close</span>
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% cms_toolbar %}
            <header class="header">
                <a href="/" class="logo">
                    <img src="{% static "img/logo.png" %}" alt="opusplace">
                </a>
                <div class="header-wrapper">
{#                    <ul class="nav-list">#}
{#                        {% show_menu 0 100 100 100 %}#}
{#                        <li class="child {% block nav_registration_page %}sibling{% endblock nav_registration_page %}">#}
{#                            <a href="{% url "registration-page" %}">{% trans "Registration page" %}</a>#}
{#                        </li>#}
{#                    </ul>#}
                    <div class="lang-box">
                        <ul class="lang-list">
                            {% for language in languages %}
                            <li class="{% if language.code == LANGUAGE_CODE %}active{% endif %}">

                                {% if request.current_page %}
                                <a href="{% page_url request.current_page language.code %}">
                                    {{ language.name_local }} ({{ language.code }})
                                </a>
                                {% else %}

                                {% language language.code %}
                                <a href="{% block set_lang_current_page %}{% endblock set_lang_current_page %}">
                                    {{ language.name_local }} ({{ language.code }})
                                </a>
                                {% endlanguage %}

                                {% endif %}

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </header>
            <div class="content-wrapper">
                {% block content %}{% endblock content %}
            </div>
            <footer class="footer">
                <div class="footer-wrapper">
                    <a class="logo-footer" href="/">
                        <img src="{% static "img/logo-footer.png" %}" alt="opusplace">
                    </a>
                    <p class="copyright">© 2017 Opusplace AB. All rights reserved.</p>
                </div>
            </footer>

        {% render_block "js" %}
        <script>
          $(document).ready(function() {
            $('.close').on('click', function (ev) {
              $('.message-holder').remove();
            })
          })
        </script>
    </body>
</html>
